{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <p>
                <a href="{% url 'todolist_edit' todolist.id %}">Edit Title</a>
            </p>
            <p>
                <a href="{% url 'todolist_delete' todolist.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thread>
                    <tr>
                        <th>Tasks</th>
                        <th>Due date</th>
                    </tr>
                </thread>
                <tbody>
                    {% for items in todolist.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todoitem_edit' items.id %}">{{ items.task }}</a>
                        </td>
                        <td>{{ items.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
